Raun 1

In [ ]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

In [ ]:
texto_dividido=text.split(".")
texto_dividido

In [ ]:
palabras_clave=["average","temperature","distance"]

In [ ]:
palabras_clave

In [ ]:
for frase in text.split("."):
    for palabras_clave in palabras_clave:
        if palabras_clave in frase:
            print(frase)
            break

In [ ]:
for frase in text.split("."):
    for palabras_clave in palabras_clave:
        if palabras_clave in frase:
            print(frase.replace("C","Celsius"))
            break

raund2

In [80]:
name = "Luna"
gravedad = 0.00162 # in kms
planet = "Tierra"

In [81]:
title="The {0} and the {1}".format(name, planet)

In [82]:
hechos = f"""{"-"*80}
nombre del planeta: {planet}
Gravedad en la {name}: {gravedad*1000} 1m/s2
"""

In [83]:
template = f"""{title.title()} 
{hechos} 
""" 
print(hechos)

--------------------------------------------------------------------------------
nombre del planeta: Tierra
Gravedad en la Luna: 1.6199999999999999 1m/s2

In [84]:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [85]:
title = f'datos de gravedad sobre {nombre}'

In [86]:
hechos = f"""{'-'*80} 
Nombre del planeta: {planeta} 
Gravedad en {nombre}: {gravedad * 1000} m/s2 
"""
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

In [87]:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [88]:
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

In [91]:
new_template = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2